body{
    background:white;
}

table, th, td {
    border: 1px solid rgb(131, 129, 129);
    border-collapse: collapse;
}

table{
    
    width: 100%; 
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.row .aside{
  
    background:#245e71;
}

#app nav ul li .nav-link{
color:white;
}


.btn{
    border-radius:50px;
    
}
.bt{
    background:white;
    border:1px solid #0ac693;
    color: #0ac693;
}

.bt:hover{
    background:#0ac693;
    
    color: white;
}

.aside ul{
    
   list-style:none;
   padding-top:20px;
}
.aside ul li{
    
    margin-top:5px;
   
    height:40px;
}
.aside ul{
    background:#245e71;
}


.aside ul li a .fa{
    color:rgb(231, 225, 225);
    font-size:2px !important;
    margin-right:.8rem ;
    display:inline-block;
    font-weight:normal !important;
   
}
.aside ul li a{
    

  display:block;
  color:white;
  text-decoration:none;
  font-weight:600;
  font-size:13px;
  height:inherit;
  /*transition:all .3s ease-in-out;*/
  line-height:normal;
  padding-top:4px;

}
.aside ul li a:hover{
    text-decoration:none;
   /*background:#0c5061;*/
    border-left:3px solid white;
 
    color:white;
}





.front ul{
    
    list-style:none;
    padding-top:20px;
    background:#F93822ff;
 }
 .front ul li{
     
     margin-top:5px;
    
     height:40px;
 }

 
 
 .front ul li a .fa{
     color:lightgrey;
     font-size:1px !important;
     margin-right:.8rem ;
     display:inline-block;
     font-weight:normal !important;
     padding-top:4px;
     transition: all 0.4s ease-in-out;
    
 }


 .front ul li a{ 
   display:block;
   color:white;
   text-decoration:none;
   height:inherit;
   font-weight:600;
   font-size:13px;
   /*transition:all .3s ease-in-out;*/
   line-height:normal;
   padding-top:4px;
 
 }
 .front ul li :hover{
     text-decoration:none;
    background:#ee0413;
     /* border-left:1px solid white; */
     color:white;

     
 }
 


 

 .row .front{
    height:550px;
    background:#F93822ff;
}

#app nav ul li .name{
    color:black;
}