	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/06/2019 23:17
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-lock:before { content: "\f100"; }
.flaticon-login:before { content: "\f101"; }
.flaticon-avatar:before { content: "\f102"; }
.flaticon-doctor:before { content: "\f103"; }
.flaticon-stethoscope:before { content: "\f104";  font-size:50px; }
.flaticon-first-aid-kit:before { content: "\f105"; }
.flaticon-clipboard:before { content: "\f106"; }
.flaticon-medical-history:before { content: "\f107"; }
.flaticon-dna:before { content: "\f108"; font-size:50px; }
.flaticon-medical-stethoscope-variant:before { content: "\f109"; }
.flaticon-list:before { content: "\f10a"; }
.flaticon-list-1:before { content: "\f10b"; }
.flaticon-life:before { content: "\f10c"; }
.flaticon-doctor-1:before { content: "\f10d"; }
.flaticon-hospital:before { content: "\f10e"; }
.flaticon-doctor-2:before { content: "\f10f"; }
.flaticon-woman:before { content: "\f110";  font-size:50px;}
.flaticon-wheelchair:before { content: "\f111"; }
.flaticon-healthcare-and-medical:before { content: "\f112"; font-size:50px;}
.flaticon-medical-instrument:before { content: "\f113"; }
.flaticon-thread:before { content: "\f114"; }
.flaticon-desk:before { content: "\f115"; }
.flaticon-pole:before { content: "\f116"; }
.flaticon-swab:before { content: "\f117"; }
.flaticon-tent:before { content: "\f118"; }
.flaticon-garbage:before { content: "\f119"; }
.flaticon-delete:before { content: "\f11a"; }
.flaticon-garbage-1:before { content: "\f11b"; }
.flaticon-worker-loading-boxes:before { content: "\f11c"; }
.flaticon-no-trolley:before { content: "\f11d"; }
.flaticon-view:before { content: "\f11e"; }
.flaticon-user:before { content: "\f11f"; }
.flaticon-user-1:before { content: "\f120"; }
.flaticon-house:before { content: "\f121"; }


